<template>
  <div class="sidenav app-sidenav" :class="{open: value}">
    <div class="logo">
      <a href="#">Golding Life</a>
    </div>
    <ul class="sidebar">
      <router-link
        v-for="link in links"
        :key="link.url"
        tag="li"
        active-class="active"
        :class="link.class"
        :to="link.url"
        :exact="link.exact"
      >
        <a href="#">
          <i class="material-icons white-text">{{ link.icon }}</i>
          {{ link.title }}
        </a>
      </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['value'],
  data: () => ({
    links: [
      {title: 'Моя структура', url: '/', icon: 'device_hub', exact: true},
      {title: 'Финансы', url: '/finance', icon: 'payment'},
      {title: 'Новости', url: '/news', icon: 'chat'},
      {title: 'Пригласить друга', url: '/friend', icon: 'group_add'},
      {title: 'Сервисы', url: '/services', icon: 'insert_chart'},
      {title: 'Вопросы и ответы', url: '/questions', icon: 'question_answer'},
      {title: 'Ресурсы', url: '/resources', icon: 'healing'},
      {title: 'Магазин', url: '/shop', icon: 'shopping_cart', class: 'brd-top'},
      {title: 'AcademiaGL', url: '/academia', icon: 'domain'},
      {title: 'INX', url: '/inx', icon: 'shuffle'}

    ]
  })
}
</script>

<style scoped lang="scss">
  .app-sidenav {
    background-color: #6b1f1f;
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 250px;
    transition: transform .3s;
    bottom: 0!important;
    height: auto!important;
    &.open {
      transform: translateX(0);
    }
    .logo {
      text-align: center;
      font-size: 26px;
      padding: 30px 0;
      a {
        color: #fff;
      }
    }
    .brd-top {
      position: relative;
      margin-top: 30px;
      &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }
    li {
      position: relative;
      &.active {
        background-color: transparent;
        a {
          opacity: 1;
          &::before {
            display: block;
          }
        }
      }
      a {
        color: #fff;
        opacity: 0.7;
        &::before {
          content: '';
          width: 3px;
          height: 100%;
          background-color: #d3b453;
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }
        &:hover {
          opacity: 1;
          background-color: transparent;
          &::before {
            display: block;
          }
        }
        .material-icons {
          margin: 0 15px 0 0;
        }
      }
    }
  }
</style>