<template>
  <div>
    <div class="app-main-layout" :class="{full: !isOpen}">

      <Navbar @click="isOpen = !isOpen" />

      <Sidebar v-model="isOpen"/>

      <main class="app-content">
        <div class="app-page">
          <router-view />
        </div>
      </main>

      <div class="fixed-action-btn">
        <router-link class="btn-floating btn-large blue" to="/record">
          <i class="large material-icons">add</i>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/app/Navbar'
import Sidebar from '@/components/app/Sidebar'

export default {
  name: 'main-layout',
  data: () => ({
    isOpen: true,
  }),
  components: {
    Navbar, Sidebar
  }
}
</script>

<style scoped lang="scss">
 .app-main-layout {
    margin-left: 250px;
    transition: margin-left .3s;
    &.full {
      margin-left: 0;
    }
 }
</style>>
